# -*- mode: shell-script; -*-
use_asdf() {
    local asdf_source="$HOME/.asdf/asdf.sh"
    if [ ! -f "$asdf_source" ]; then
        return
    fi

    # shellcheck source=/dev/null
    . "$asdf_source"

    # shellcheck source=/dev/null
    source "$(asdf which direnv_use_asdf)"
    use asdf
}
use_asdf
